<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Copper </title>
    <link rel="stylesheet" href="/Pro/static/style.css">

</head>
<body>
    <div class="container">
        <nav>
            <img src="/Pro/image/background.png" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Member</a></li>
            </ul>
            <a href="#" class="btn">EN</a>
        </nav>

        <div class="content">
            <h1> PROJECT <span> COPPER </span></h1>
            <p>World's biggest Cryptocurrency exchange available on web as well.</p>
            <a href="#" class="btn">EXPLORE MORE</a>  
            
        </div>

        <div class="coin-list">
            <div class="coin">
                <img src="/Pro/image/bitcoin.png">
                <div>
                    <h3>$00</h3>
                    <p>PRICE</p>
                </div>
            </div>

            <div class="coin">
                <img src="/Pro/image/ethereum.png">
                <div>
                    <h3>$00</h3>
                    <p>MAX</p>
                </div>
            </div>

            <div class="coin">
                <img src="/Pro/image/dogecoin.png">
                <div>
                    <h3>$00</h3>
                    <p>MIN</p>
                </div>
            </div>

        </div>

    </div>
    <div class="paper">
        <div class="wrapper">
            <div class="card">
                
                <div class="box">
                    <h2> PRICE</h2>
                    <table> 
                        <thead> 
                            <tr>
                                <th>Price</th>
                        
                
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in DataCopper %}
                            <tr>
                                <td>{{  i[0]  }}</td>
                            </tr>

                        {% end for %}    
                        </tbody> 
                    </table>
                </div>

                <div class="box">
                    <h2> MAX</h2>

                </div>

                <div class="box">
                    <h2> MIN</h2>

                </div>

                <div class="box">
                    <h2> CHANGE </h2>

                </div>
                
                <div class="box">
                    <h2> TIME </h2>

                </div>

                <div class="box">
                    <h2> COUNTRY </h2>
                </div>



            </div>       

                





    </div>
</body>
</html>