<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Copper </title>
    <link href="{{ url_for('static',filename='style.css')}}" rel="stylesheet"> 

</head>
<body>
    <div class="container">
        <nav>
            <img src="static/image/logo.png" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Member</a></li>
            </ul>
            <a href="#" class="btn">EN</a>
        </nav>

        <div class="content">
            <h1> PROJECT <span> COPPER </span></h1>
            <p>World's biggest Cryptocurrency exchange available on web as well.</p>
            <a href="#" class="btn">EXPLORE MORE</a>  
            
        </div>

        <div class="coin-list">
            <div class="coin">
                <img src="static/image/bitcoin.png">
                <div>
                    <h3>$00</h3>
                    <p>PRICE</p>
                </div>
            </div>

            <div class="coin">
                <img src="static/image/ethereum.png">
                <div>
                    <h3>$00</h3>
                    <p>MAX</p>
                </div>
            </div>

            <div class="coin">
                <img src="static/image/dogecoin.png">
                <div>
                    <h3>$00</h3>
                    <p>MIN</p>
                </div>
            </div>

        </div>

    </div>
    <div class="paper">
        <div class="wrapper">
            <div class="card">

                <div class="box">
                    <table>
                        <thead>
                            <tr>
                                <th> PRICE</th>
                            </tr>
                        </thead>
                    </table>
                        <tbody>
                        {% for i in DataCopper %} 
                            <tr>
                                <td>{{ i[0] }}</td>
                            </tr>
                            
                        {% endfor %}
                        </tbody>
                </div>

                <div class="box">
                    <table>
                        <thead>
                            <tr>
                                <th> MAX </th>
                            </tr>
                        </thead>
                    </table>
                        <tbody>
                        {% for i in DataCopper %} 
                            <tr>
                                <td>{{ i[1] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                </div>

                <div class="box">
                    <table>
                        <thead>
                            <tr>
                                <th> MIN </th>
                            </tr>
                        </thead>
                    </table>
                        <tbody>
                        {% for i in DataCopper %} 
                            <tr>
                                <td>{{ i[2] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                </div>

                <div class="box">
                    <table>
                        <thead>
                            <tr>
                                <th> CHANGE </th>
                            </tr>
                        </thead>
                    </table>
                        <tbody>
                        {% for i in DataCopper %} 
                            <tr>
                                <td>{{ i[3] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                </div>
                
                <div class="box">
                    <table>
                        <thead>
                            <tr>
                                <th> TIME </th>
                            </tr>
                        </thead>
                    </table>
                        <tbody>
                        {% for i in DataCopper %} 
                            <tr>
                                <td>{{ i[4] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                </div>

                <div class="box">
                    <table>
                        <thead>
                            <tr>
                                <th> COUNTRY </th>
                            </tr>
                        </thead>
                    </table>
                        <tbody>
                        {% for i in DataCopper %} 
                            <tr>
                                <td>{{ i[5] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                </div>



            </div>       

                





    </div>
</body>
</html>