<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COPPER</title>
</head>
<body background="c5.jpg">  
  <h2><center>PRICE_COPPER</center></h2>
    <table border="1" width="100%" align="center">
        <tr bgcolor="#FFDAB9">
            <th>Price</th>
            <th>Max</th>
            <th>Min</th>
            <th>Change</th>
            <th>Time</th>
            <th>Country</th>
            
        </tr>
        {% for row in test %}
        <tr bgcolor="#FFEFD5">
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
            
        </tr>
      {% endfor %}
      {% for row in test %}
        <tr bgcolor="#FFEFD5">
          <td>{{ row[6] }}</td>
          <td>{{ row[7] }}</td>
          <td>{{ row[8] }}</td>
          <td>{{ row[9] }}</td>
          <td>{{ row[10] }}</td>
          <td>{{ row[11] }}</td>
            
        </tr>
      {% endfor %}
      {% for row in test %}
        <tr bgcolor="#FFEFD5">
          <td>{{ row[12] }}</td>
          <td>{{ row[13] }}</td>
          <td>{{ row[14] }}</td>
          <td>{{ row[15] }}</td>
          <td>{{ row[16] }}</td>
          <td>{{ row[17] }}</td>
            
        </tr>
      {% endfor %}
      </table>
</body>
</html>