<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>student-id</th>
            <th>student-f_name</th>
            <th>student-l_name</th>
            <th>subject-id</th>
            <th>subject-name</th>
            <th>grade</th>
            <th>teacher-f_name</th>
            <th>teacher-l_name</th>
        </tr>
        <tr>
            <td>6406022620029</td>
            <td>Thanet</td>
            <td>Suwannapirom</td>
            <td>060233113</td>
            <td>ADVANCED COMPUTER PROGRAMMIN</td>
            <td>A</td>
            <td>Anirach</td>
            <td>Mingkhwan</td>
        </tr>
        <tr>
            <td>6406022620029</td>
            <td>Thanet</td>
            <td>Suwannapirom</td>
            <td>060233201</td>
            <td>NETWORK ENGINEERING LABORATO</td>
            <td>A</td>
            <td>Watcharachai</td>
            <td>Kongsiriwattana</td>
        </tr> 
        <tr>
            <td>6406022620029</td>
            <td>Thanet</td>
            <td>Suwannapirom</td>
            <td>060233205</td>
            <td>ADVANCED NETWORK AND PROTOCOL</td>
            <td>A</td>
            <td>Khanista</td>
            <td>Namee</td>
        </tr>
        <tr>
            <td>6406022610015</td>
            <td>Kongphop</td>
            <td>Sri-On</td>
            <td>060233113</td>
            <td>ADVANCED COMPUTER PROGRAMMIN</td>
            <td>A</td>
            <td>Anirach</td>
            <td>Mingkhwan</td>
        </tr>
        <tr>
            <td>6406022610015</td>
            <td>Kongphop</td>
            <td>Sri-On</td>
            <td>060233201</td>
            <td>NETWORK ENGINEERING LABORATO</td>
            <td>B+</td>
            <td>Watcharachai</td>
            <td>Kongsiriwattana</td>
        </tr> 
        <tr>
            <td>6406022610015</td>
            <td>Kongphop</td>
            <td>Sri-On</td>
            <td>060233205</td>
            <td>ADVANCED NETWORK AND PROTOCOL</td>
            <td>A</td>
            <td>Khanista</td>
            <td>Namee</td>
        </tr>
        <tr>
            <td>6406022620053</td>
            <td>Watcharakorn</td>
            <td>Yentaweesub</td>
            <td>060233113</td>
            <td>ADVANCED COMPUTER PROGRAMMIN</td>
            <td>A</td>
            <td>Anirach</td>
            <td>Mingkhwan</td>
        </tr>
        <tr>
            <td>6406022620053</td>
            <td>Watcharakorn</td>
            <td>Yentaweesub</td>
            <td>060233201</td>
            <td>NETWORK ENGINEERING LABORATO</td>
            <td>B+</td>
            <td>Watcharachai</td>
            <td>Kongsiriwattana</td>
        </tr> 
        <tr>
            <td>6406022620053</td>
            <td>Watcharakorn</td>
            <td>Yentaweesub</td>
            <td>060233205</td>
            <td>ADVANCED NETWORK AND PROTOCOL</td>
            <td>B</td>
            <td>Khanista</td>
            <td>Namee</td>
        </tr>
    
    </table>
</body>
</html>